* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
}

body {
	font-family: 'Pretendard', 'ReciaSerifDisplay';
	font-size: 14px;
	line-height: 1.2;
	color: #333;
}

/* 세로 스크롤 */
body::-webkit-scrollbar {
	/*스크롤바 전체*/
	width: 6px;
}

body::-webkit-scrollbar-thumb {
	/*스크롤바 막대*/
	background-color: #333;
	border-radius: 10px;
	background-clip: padding-box;
	/* border: 2px solid transparent; */
}

body::-webkit-scrollbar-track {
	/*스크롤바 막대 외부*/
	background-color: #ccc;
	border-radius: 10px;
	/* box-shadow: inset 0px 0px 5px grey; */
}

/* 세로 스크롤 */

/* header */
header {
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 100;
	background: #fff;
	padding: 20px;
	box-sizing: border-box;
}

input[id="menuicon"] {
	display: none;
}

/*메뉴 아이콘 버튼 크기, 위치*/
input[id="menuicon"]+label {
	display: block;
	width: 35px;
	height: 30px;
	position: relative;
	z-index: 100;
	transition: all 0.5s;
	cursor: pointer;
}

/*메뉴 버튼 클릭했을 때 X버튼 색상*/
input[id="menuicon"]:checked+label span {
	background: #fff;
}

/*메뉴 세줄 버튼*/
input[id="menuicon"]+label span {
	display: block;
	position: absolute;
	width: 100%;
	height: 5px;
	border-radius: 30px;
	background: #333;
	transition: all 0.5s;
}

input[id="menuicon"]+label span:nth-child(1) {
	top: 0;
}

input[id="menuicon"]+label span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

input[id="menuicon"]+label span:nth-child(3) {
	bottom: 0;
}

/*메뉴 버튼 클릭했을 때 세줄버튼에서 X버튼으로 바뀌는 모습*/
input[id="menuicon"]:checked+label span:nth-child(1) {
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked+label span:nth-child(2) {
	opacity: 0;
}

input[id="menuicon"]:checked+label span:nth-child(3) {
	bottom: 50%;
	transform: translateY(50%) rotate(-45deg);
}

/*메뉴 창*/
.sidebar {
	width: 100%;
	height: 100%;
	background: #2222228c;
	backdrop-filter: blur(12px);
	position: fixed;
	top: 0;
	left: -100%;
	z-index: 99;
	transition: all 0.5s;
	overflow: hidden;
}

input[id="menuicon"]:checked+label+div {
	left: 0;
}

.sidebar ul {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 3%;
}

.sidebar ul li a {
	display: inline-block;
	-webkit-text-stroke: 3px #fff;
	color: transparent;
	font-size: 8rem;
	margin-bottom: 0.8em;
	text-transform: uppercase;
	position: relative;
	font-weight: 700;
}

.sidebar ul li a::before {
	content: '';
	display: block;
	width: 100%;
	height: 10px;
	background-color: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	transform-origin: left;
	transform: scaleX(0);
	transition: all 0.7s;
}

.sidebar ul li a:hover::before {
	transform: scaleX(1);
}

/* section */
section {
	height: calc(100vh - 100px);
	margin-top: 70px;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	position: relative;
}

/* text */

.text {
	width: calc(30% - 60px);
	height: calc(100% - 10px);
	overflow-y: hidden;
	margin: 0px 30px;
	background: url(../images/text_bg02.jpg) no-repeat center center;
	background-size: cover;
}

.text_wrap {
	width: 90%;
	height: 90%;
	overflow-y: hidden;
	border-radius: 15px;
	margin: 30px auto;
	/* padding: 10px 30px; */
	background-color: #5a5a5a15;
	backdrop-filter: blur(12px);
	box-sizing: border-box;
	text-align: center;
}


.text h1 {
	font-size: 3.5rem;
	padding-bottom: 0.1em;
	text-transform: uppercase;
	margin-top: 50%;
}


.text h6 {
	font-size: 1rem;
	padding-bottom: 3em;
	color: #ccc;
	letter-spacing: 5px;
}

.text h3 {
	font-size: 2rem;
	padding-bottom: 0.1em;
	font-family: 'ReciaSerifDisplay';
	color: #ccc;
}

.text_wrap p {
	color: #ccc;
	line-height: 2;
}

.dark {
	color: #555 !important;

}

.text a {
	display: inline-block;
	margin: 2em 0 1em;
	padding: 0.5em 1em;
	font-size: 1rem;
	border: 1px solid #333;
	color: #333;
	text-transform: uppercase;
	font-weight: bold;
	transition: all 1s;
}

.text a:hover {
	background-color: #333;
	color: #fff;
	border-radius: 50px;
}


/* portfolio */
.mySwiper {
	width: 70%;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
}

.swiper-slide {
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	position: relative;
}

.swiper-slide::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
}

/* 비디오 배경 */
.video_container {
	/* position: relative; */
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.video_container video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* object-fit: cover; */
	background-color: #fff;
	border: 1px #fff solid;
}

.bg1::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 92.5%;
	overflow: hidden;
	background-color: rgba(51, 51, 51, 0.5);
	/* 투명한 회색 배경 */
	opacity: 0;
	/* 초기에는 투명 상태 */
	transition: opacity 0.3s ease;
	/* 트랜지션 설정 */
	z-index: 1;
}

.bg1:hover::before {
	opacity: 1;
	/* 호버 시 배경이 나타남 */
	backdrop-filter: blur(12px);
}

/* 비디오 배경 */

.bg2::before {
	background: url(../images/unknown_logo.png) no-repeat center top;
	background-size: cover;
	background-color: #fff;
}

.bg3::before {
	background: url(../images/greener03.jpeg) no-repeat center top;
	background-size: cover;
}

.bg4::before {
	background: url(../images/blue.jpg) no-repeat center top;
	background-size: cover;
}

/* 슬라이드 */
.swiper-slide {
	display: block;
}

.swiper-slide ul {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	opacity: 0;
	/* 기본적으로 투명하게 설정 */
	visibility: hidden;
	/* 기본적으로 숨김 */
	transition: opacity 0.3s ease, visibility 0.3s ease;
}

.swiper-slide:hover ul {
	opacity: 1;
	/* 호버 시 불투명하게 설정 */
	visibility: visible;
	/* 호버 시 보이기 */
}

.swiper-slide ul li a {
	display: block;
	color: #fff;
	text-align: center;
	border: 1px solid #fff;
	padding: 1em 3em;
	transition: all 1s;
	font-size: 1.5rem;
}

.swiper-slide ul li:not(:last-child) a {
	margin-bottom: 35px;
}

.swiper-slide ul li a:hover {
	background-color: #fff;
	color: #333;
	border-radius: 50px;
}

.brand {
	background-color: #fff;
	width: 100%;
	padding: 10px 0 20px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
}

.brand_in {
	width: 80%;
	margin: auto;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.brand h2 {
	font-size: 2.6vw;
	/* line-height: 30px; */
	/* 텍스트 효과 */
	display: block;
	color: #eee;
	text-shadow: 0px 0px 10px #333, 0px -2px 1px #999;
	font-weight: bold;
	text-align: center;
	/* background: linear-gradient(to bottom, #ece4d9 0%,#e9dfd1 100%); */
}

.brand p {
	font-weight: 800;
}


.swiper-horizontal>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
	opacity: 1 !important;
}

/* copy */
.copy {
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 30px;
	box-sizing: border-box;
	/* text-align: center; */
}

/* popup */
.popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(12px);
	z-index: 1000;
	display: none;
	overflow: auto;
	box-sizing: border-box;
}


.popup_in {
	width: 80%;
	height: 70%;
	max-width: 1320px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 50px 0;

}

.popup_in p {
	margin: 2vh auto 5vh;
	color: #eee;
	font-size: 1.1rem;
	line-height: 1.3;
}


.popup_in img {
	display: block;
	width: 100%;
	max-width: 1000px;
	margin: 2vh auto 0;
}

.popup_in .main{
	margin-top: 1vh;
}

.close:after {
	content: "\00d7";
	font-size: 50pt;
	line-height: 35px;
	position: absolute;
	top: 50px;
	right: 50px;
	color: #fff;
}

iframe {
	display: block;
	margin: 2vh auto;
}


/* about me */
.about {
	flex: 0 0 70%;
	padding: 30px;
	box-sizing: border-box;
}

.about h1 {
	font-size: 2rem;
	padding-bottom: 0.2em;
}

.about p {
	font-size: 1.2rem;
}

.about h1:not(:first-child) {
	padding-top: 2em;
}

/* resume */
.resume li {
	margin-bottom: 0.5em;
}

.resume li h2 {
	/* border: 2px solid #ccc; */
	font-size: 1.2rem;
	padding: 1em;
	transition: all 0.5s;
}

.resume li h2 span {
	float: right;
	transform: rotate(90deg);
	transition: all 0.5s;
}

.resume .on h2 {
	border-color: #333;
	background-color: #333;
	color: #fff;
}

.resume .on h2 span {
	transform: rotate(-90deg);
}

.resume li div {
	padding: 0.5em 1em 1em 1em;
	display: none;
}

.resume li div h3 {
	font-size: 1.1rem;
	padding: 0.5em 0;
}

/* skill */
.skill {
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.skill li {
	flex: 1 1 33%;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	align-items: center;
	margin-bottom: 2em;
}

.skill .chart {
	width: 100px;
	height: 100px;
	position: relative;
	text-align: center;
	margin-right: 1em;
}

.skill h4 {
	font-family: 'ReciaSerifDisplay';
	font-size: 2.5rem;
	margin-right: 0.2em;
}

.skill h4 span {
	font-size: 1.5rem;
	vertical-align: top;
}

.skill h5 {
	font-size: 1rem;
}

/* 1300px ~ */
@media (max-width:1300px) {
	.about_section {
		height: auto;
	}

	.skill li {
		flex: 1 1 50%;
	}
}

/* 999px ~ */
@media (max-width:999px) {
	section {
		display: block;
		height: auto;
	}

	.text {
		position: static;
		width: calc(100% - 60px);
	}

	.mySwiper {
		width: 100%;
		height: 700px;
		padding: 30px;
		box-sizing: border-box;
	}

	.sidebar ul li a {
		font-size: 6rem;
	}

	.text h1 {
		margin-top: 0;
	}


}


/* 610px ~ */
@media (max-width:610px) {
	.skill li {
		flex-direction: column;
		position: relative;
	}

	.skill h4 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-58%, -70%);
		margin-right: 0;
	}

	.skill h5 {
		padding-top: 1em;
	}

	.sidebar ul li a {
		font-size: 3.5rem;
	}

	.brand {
		padding: 20px 0;
	}

	.brand h2 {
		font-size: 5vw;
	}

}

/* 570px */